Importing the Dependencies :

In [9]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

In [10]:
# loading the diabetes dataset to a pandas DataFrme
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [11]:
# printing the first 5 rows of the dataset :
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [12]:
# number of rows and columns of the dataset :
diabetes_dataset.shape

(768, 9)

In [13]:
# Getting the statistical measures of data :
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [14]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0------/ Non-Diabetic
 
1------/ Diabetic

In [15]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [16]:
# Separating the data and the labels :
X = diabetes_dataset.drop(columns='Outcome', axis=1)
Y = diabetes_dataset['Outcome']

In [17]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [18]:
Y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

Data Standardization :

---

In [19]:
# stocke an instance of the function StandarScaler inside the variable scaler 
scaler = StandardScaler()

In [20]:
scaler.fit(X)

StandardScaler()

In [21]:
  standarized_data = scaler.transform(X)

In [22]:
  standarized_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [23]:
X = standarized_data
diabetes_dataset['Outcome']

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Train Test Split :           

note : test_size : porcentage of test data (20%)

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [25]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

Training the model

In [26]:
classifier = svm.SVC(kernel = 'linear')

In [27]:
# training support vector machine  classifier :
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation :

Accuracy Score

In [28]:
# Accuracy on training data :
X_train_prediction = classifier.predict(X_train)

In [29]:
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [30]:
print(' the accuracy on training data is ', training_data_accuracy)

 the accuracy on training data is  0.7866449511400652

In [31]:
# Accuracy on test data :
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print(' the accuracy on test data is ', test_data_accuracy)

 the accuracy on test data is  0.7727272727272727

Making a predictive system :

In [32]:
input_data = (6,148,72,35,0,33.6,0.627,50)

In [33]:
# changing the input_date to a numpy array : 
input_data_as_numpy_array = np.asarray(input_data)

In [34]:
# reshape the np array as we are predicting for one instance :
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
print(input_data_reshaped.shape)
# standardize the input data : 
std_data = scaler.transform(input_data_reshaped)
prediction = classifier.predict(std_data)

(1, 8)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [35]:
if (prediction[0] == 1) :
   print("the person is diabetic  ")
else : 
  print('the person is not diabetic ')

the person is diabetic